.App {
  text-align: center;
}

.header{
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 1px #f6f6f6;  font-weight: bold;
  margin: 0;
  margin-bottom: 1em;
  
}

.header div{
  margin-left: 1em;
  margin-right: 1em;
}
.body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.feuille{
  color: #fff;
  background-color: blue;
  padding: 3px;
  width: fit-content;
  min-width: 100px;
  margin: 1em;
}

.box{
  width: max-content;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 1em;
  padding: 1em;
}
.box:hover{
  cursor: pointer;
}
.parent,.ligne{
  display: flex
}
.fils{
  margin-left: 150px;
  flex-wrap: wrap;
}
.fils .feuille{
  width: 200px;
}

.popup{
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.207);
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-alert{

  min-width: 500px;
  min-height: 200px;
  max-width: max-content;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup-dimiss{
  width: 95%;
  text-align: right; 
  height: 30px; 
  color: green;
  cursor: pointer;
}
.popup-text{
  width: 90%;
  min-height: 100px;
  height: calc( 100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;

}
.popup-btn{
  height: 30px;
  display: flex;
  justify-content: center;
}

.popup-btn div{
  width: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}
.danger{
  background-color: red;
}

.safe{
  background-color: green;
}
